<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bona fide</title>
    <script src="main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="bf.ico" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="light-green darken-4">
            <div class="nav-wrapper">
                <a href="#top" class="brand-logo waves-effect waves-green">bona fide</a>
                <ul class="right hide-on-med-and-down">
                    <li class="navli waves-effect waves-green"><a href="#about">about</a></li>
                    <li class="navli waves-effect waves-green"><a href="#models">models</a></li>
                    <li class="navli waves-effect waves-green"><a href="#contact">contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

    {{> home}}

    <iframe width="0" height="0" src="https://www.youtube.com/embed/uOSEQGc_7mc?autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;disableannotaions=1&amp;disablekb=1&amp;enablejsapi=1&amp;playlist=bg" loop="true" frameborder="0" allowfullscreen></iframe>
</body>

<template id="top" name="home">

    <div class="bg_container">
        <p class="title container1">no makeup. no photoshop. real people.</p>
        <video class="bg" src="home-video.mp4" autoplay="true" muted="true"></video>
    </div>

    <div id="about"></div>

    <div class="about">
        <div class="container2 z-depth-4">
            <p>At least one time or another, you've probably allowed fashion to dictate whether or not you're pretty enough or cool enough. The fashion industry says that to be beautiful, it takes effort. To be beautiful, you must wear this brand, use this makeup, apply this filter. <i>bona fide</i> uses real high school students to promote a natural lifestyle and positive body image. Being beautiful shouldn't take effort.
                <br>Be <b>bona fide</b> — genuinely you.</p>
        </div>
    </div>


    <div id="models" class="models">

        <div class="mod-title">
            <center>
                <h1 id="mod">models</h1></center>
        </div>


        <section class="grid3d vertical" id="grid3d">
            <div class="grid-wrap">
                <div class="grid">
                    <a href="sara.html">
                        <figure>
                            <div class="card z-depth-4">
                                <div class="card-content fade-card">
                                    <img class="z-depth-1" src="ep.png">
                                    <p class="black-text text-black">elisa novo</p>
                                </div>
                            </div>
                        </figure>
                    </a>
                    <figure>
                        <div class="card z-depth-4">
                            <div class="card-content">
                                <img class="z-depth-1" src="hover.png">
                                <p class="not">white text</p>
                            </div>
                        </div>
                    </figure>
                    <a href="#openModal">
                        <figure>
                            <div class="card z-depth-4">
                                <div class="card-content fade-card">
                                    <img class="z-depth-1" src="kp.png">
                                    <p class="black-text text-black">kiera smith</p>
                                </div>
                            </div>
                        </figure>
                    </a>
                    <div class="space"></div>
                    <a href="#openModal">
                        <figure>
                            <div class="card z-depth-4">
                                <div class="card-content fade-card">
                                    <img class="z-depth-1" src="srp.png">
                                    <p class="black-text text-black">sara winsky</p>
                                </div>
                            </div>
                        </figure>
                    </a>
                    <a href="#openModal">
                        <figure>
                            <div class="card z-depth-4">
                                <div class="card-content fade-card">
                                    <img class="z-depth-1" src="ip.png">
                                    <p class="black-text text-black">iván salgado</p>
                                </div>
                            </div>
                        </figure>
                    </a>
                    <a href="#openModal">
                        <figure>
                            <div class="card z-depth-4">
                                <div class="card-content fade-card">
                                    <img class="z-depth-1" src="svp.png">
                                    <p id="sav" class="black-text text-black">savannah bradley</p>
                                </div>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>
        </section>

    </div>


    <div class="contact" id="contact">
        <img class="cont" src="contact.png">
        <div class="card cont-card">
            <div class="card-content black-text cont-text">
                <p>If you would like to become a featured model for <b>bona fide</b>, please contact the creators, Kiera Smith or Iván Salgado.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

</template>